@import url(/assets/styles/stylesheet.css);
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

body {
	height: 100vh;
}
/************************************************************* NAVBAR */
/* TODO Nav hover  */
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(4, 245, 253);
	min-height: 8vh;
	width: 100vw;
	font-family: raph_lanok_futureregular;
	font-size: 2em;
}
/* TODO add LOGO & dipper svg */
.logo {
	text-transform: uppercase;
	letter-spacing: 5px;
	/* font-size: ; */
}
.nav-links {
	width: 100%;
	height: 100%; /*? ****/
	display: flex;
	justify-content: space-around;
	align-items: center; /*? ****/
}
.nav-links li {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}
.nav-links .box-bb {
	height: 8vh;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-links .box-bb svg {
	/* width: 100px;
	height: 8vh;
	transform: translate(77%); */
}
.nav-links .box-bb svg:hover {
	transform: rotate(-90deg);
}
.nav-links a {
	position: absolute;
	color: rgb(244, 141, 253);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 10px;
	opacity: 1;
	/* color: rgba(255, 255, 255); */
	cursor: pointer;
	z-index: 99;
	height: 8vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(-19px);
}
.burger {
	display: none;
	cursor: pointer;
}
.burger div {
	width: 25px;
	height: 3px;
	background-color: blue;
	margin: 5px;
	transition: all 0.3s ease;
}

/******************************************** Mobil & tablet */
/* TODO responsiv section (img & quote) */
@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
	nav {
		justify-content: space-between;
	}
	nav .logo {
		margin-left: 10px;
	}
	.nav-links {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		background-color: rgba(4, 245, 253, 0.664);
		right: 0px;
		height: 92vh;
		top: 8vh;
		width: 40%;
		transform: translateX(100%);
	}
	.nav-links li {
		transition: transform 1.5s ease-in;
		opacity: 0;
	}
	.burger {
		display: block;
		margin-right: 10px;
	}
}

/* JS Class */
.nav-active {
	transform: translateX(0%);
}
/*Animation items (après fonction navSlide)*/
@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}
/*******************************************************SECTION Dépression Post Partum  */
/* TODO h1 resize */
h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2em;
	font-family: hello_santtinyregular, sans-serif;
	z-index: 999;
	margin: 0 auto;
	color: teal;
}
section#dpp img {
	width: 100%;
	height: 100%;
	z-index: 0;
	object-fit: cover;
	object-position: center;
	background-position: 50% 50%;
}
.quote-card {
	position: absolute;
	bottom: 0%;
	left: 20%;
	transform: translate(-50%);
	width: 25%;
	height: 40%;
	border-radius: 15px;
	background: rgba(119, 171, 231, 0.575);
}
.quote {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
blockquote {
	font-size: 2rem;
	font-family: stay_classy_sldtregular, sans-serif;
	font-weight: 800;
}
blockquote::before,
blockquote::after {
	font-weight: normal;
}
blockquote::before {
	content: " “";
}
blockquote::after {
	content: "” ";
}
br {
	width: 100%;
	height: 2px;
	border-radius: 5px;
	color: black;
}
span.author {
	font-size: 1rem;
	font-family: raph_lanok_futureregular, sans-serif;
}
